.idea

wp-admin
wp-includes
*.*
!.gitignore
!.htaccess

wp-content/plugins
wp-content/languages
wp-content/upgrade
!wp-content/themes/vechorka/*
!wp-content/themes/vechorka/**/*
wp-content/uploads/**/*

# misc
.DS_Store
*.pem