@import "scroll-bar.css";
@import "~keen-slider/keen-slider.min.css";
@import "news-tabs.css";
@import "spinner.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-raleway text-16px min-w-[320px] min-h-screen;
  }

  #__next {
    @apply flex flex-col justify-between min-h-screen overflow-x-hidden;
  }

  input {
    @apply outline-none transition-colors duration-300;
  }

  .container {
    @apply px-2 sm:px-5;
  }
}

@layer components {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  h1, .text-xl {
    @apply text-22px sm:text-24px md:text-30px lg:text-32px;
  }

  h2, .text-lg {
    @apply text-20px sm:text-22px md:text-26px lg:text-28px;
  }

  h3, .text-md {
    @apply text-16px md:text-18px lg:text-20px;
  }

  h4, .text-md-10 {
    @apply text-14px md:text-16px lg:text-18px;
  }

  h5 {
    @apply text-16px;
  }

  h6 {
    @apply text-14px;
  }

  .text-sm-10 {
    @apply text-14px md:text-16px;
  }

  a {
    @apply text-blue-300 hover:text-blue-100 transition-colors duration-300;
  }

  a.link-primary, .link-primary a {
    @apply text-grey-500 hover:text-blue-300
  }

  a.link-light, .link-light a {
    @apply text-white hover:text-grey-100
  }

  /* content */
  .content {
    @apply text-grey-500;
  }

  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6,
  .content blockquote,
  .content img,
  .content em,
  .content strong,
  .content p {
    @apply my-5;
  }

  .content blockquote {
    @apply flex bg-grey-100 p-5 md:p-8 italic text-grey-400;
  }

  .content blockquote svg {
    @apply flex-shrink-0 w-[32px] h-[32px] mr-5 fill-grey-300;
  }

  .content h2 {
    @apply text-18px md:text-24px;
  }

  .content img {
    @apply h-auto max-w-full;
  }

  .content img.alignleft {
    @apply mx-auto sm:mx-0 sm:mr-5 sm:float-left;
  }

  .content img.alignright {
    @apply mx-auto sm:mx-0 sm:ml-5 sm:float-right;
  }

  .content img.aligncenter {
    @apply mx-auto;
  }
}

@layer utilities {
  .lock-scrollbar {
    overflow: hidden;
    overflow-y: scroll !important;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .webkit-overflow-scroll {
    -webkit-overflow-scrolling: touch;
  }

  .select-touch-none {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }

  .text-line-clamp-2,
  .text-line-clamp-3,
  .text-line-clamp-4,
  .text-line-clamp-5 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }

  .text-line-clamp-2 {
    -webkit-line-clamp: 2;
  }

  .text-line-clamp-3 {
    -webkit-line-clamp: 3;
  }

  .text-line-clamp-4 {
    -webkit-line-clamp: 4;
  }

  .text-line-clamp-5 {
    -webkit-line-clamp: 5;
  }
}